.panel {
  display: block;
  box-sizing: border-box;
  min-width: 0;
  border-radius: 6px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, .15);
  text-align: left;
}

.panelHeader {
  position: relative;
  margin: 0;
  padding: 16px 60px 16px 20px;
  box-sizing: border-box;
  background: #f4f4f4;
  border-radius: 6px 6px 0 0;
}

.panelTitle {
  margin: 0;
  font: 20px/1.25 sans-serif;
  font-weight: bold;
  color: #333;
}

.panelIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  background-size: 40px 40px;
  cursor: help;
}

.panelBody {
  padding: 20px;
}

.panelIconHTML {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 420 420'%3E%3Cpath fill='%23e44d26' d='M61.6 374.7L28.6 4.3h362.8l-33 370.2-148.7 41.2'/%3E%3Cpath fill='%23f16529' d='M210 384.2V34.7h148.3l-28.3 316'/%3E%3Cpath fill='%23ebebeb' d='M96 80h114v45.4h-64.2l4.2 46.5h60v45.3H108.4m2 22.8H156l3.2 36.3 50.8 13.6v47.4l-93.2-26'/%3E%3Cpath fill='%23fff' d='M323.6 80H209.8v45.4h109.6m-4.1 46.5H209.8v45.4h56l-5.3 59-50.7 13.6v47.2l93-25.8'/%3E%3C/svg%3E");
}
